
BLAST_databases/chm13v2.0.fa.Linux.nto
BLAST_databases/chm13v2.0.fa.Linux.ntf
BLAST_databases/chm13v2.0.fa.Linux.nsq
BLAST_databases/chm13v2.0.fa.Linux.not
BLAST_databases/chm13v2.0.fa.Linux.nin
BLAST_databases/chm13v2.0.fa.Linux.nhr
BLAST_databases/chm13v2.0.fa.Linux.ndb
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Darwin.ndb
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Darwin.nhr
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Darwin.nin
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Darwin.not
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Darwin.nsq
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Darwin.ntf
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Darwin.nto
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Linux.ndb
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Linux.nhr
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Linux.nin
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Linux.not
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Linux.nsq
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Linux.ntf
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Linux.nto
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Windows.ndb
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Windows.nhr
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Windows.nin
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Windows.not
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Windows.nsq
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Windows.ntf
BLAST_databases/Homo_sapiens.GRCh38.dna.primary_assembly.fa.Windows.nto
genome_files/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz
genome_files/chm13v2.0.fa.gz
